*.bak
*.dcu
*.ddp
*.dsk
*.nri
*.map
*.cfg
*.drc
*.dsm
*.rsm
songs
bfree.exe
bfree*install.exe
install/images
install/bfree.exe
install/songs/Article
install/songs/Chords
install/songs/Midi
install/songs/MP3
install/songs/Sheet
